h1, h2, h3, h4, h5, h6 {
    color: #2b2929;
}
section {
    padding: 20px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.faq {
    padding: 120px 0 90px;
    background: #f7fbff;
    min-height: 100vh;
}

.faq .section-title {
    margin-bottom: 54px;
}

.faq .section-title h2 {
    margin-bottom: 22px;
}

.faq .accordion .card {
    border: none;
    margin-bottom: 30px;
}

.faq .accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 10px;
}

.faq .accordion .card .card-header {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.faq .accordion .card .card-header h5 {
    padding: 0;
}

.faq .accordion .card .card-header h5 button {
    color: #1e3056;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 0 30px 0 70px;
    height: 80px;
    display: block;
    width: 100%;
    color: rgba(30, 48, 86, 0.8);
    text-align: left;
    background: #fff;
    -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 10px 10px 0 0;
    position: relative;
}

.faq .accordion .card .card-header h5 button:after {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: #ff5f74;
    text-align: center;
    border: 1px solid #ff5f74;
    border-radius: 50%;
    line-height: 100%;
    content: '\f067';
    font-size: 10px;
    line-height: 18px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.faq .accordion .card .card-header h5 button.collapsed {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(97, 125, 255, 0.2);
}

.faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
    content: '\f068';
    color: #fff;
    background-image: -webkit-linear-gradient(-180deg, #5e7eff 0%, #ff5f74 30%, #a85fff 100%);
}

.faq .accordion .card .card-body {
    -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
    border-radius: 0 0 10px 10px;
    padding-top: 0;
    margin-top: -6px;
    padding-left: 72px;
    padding-right: 70px;
    padding-bottom: 23px;
    color: rgba(30, 48, 86, 0.8);
    line-height: 30px;
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 20%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}
* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	height: 18%;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.logo img {
   margin-left: 2.3em;
   max-width: 100%;
   height: auto !important;
}

 nav ul {
	display: flex;
    flex-flow: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: .5s;
    list-style-type: none;
}

ul li a {
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	color: #262625;
	font-weight: bold;
    transition: .5s;
}

ul li a:hover {
	background: #000;
	color: #fff;
    transition: .5s
}

.menu-trigger {
    display:none;
    margin-right: 1.5em;
	background: #D56287;
    color: #fff;
    padding: 5px;
	cursor: pointer;
	font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width:816px) {

     .menu-trigger {
    display:block;
  }

    header {
	display: flex;
	align-items: flex-start;
	height: 65%;


    }

    nav ul {
    display:block;


	}

	ul li {
    width: 50vh;

	}

    ul li a {
        display: block;
		/* text-align: center; */
		color: #ffff;
		background: rgba(0,0,0,.5);

	}

}

@media (max-width: 359px)
{
	.logo img {
       margin-left: 0.1em;

}


}


.header {
  overflow: hidden;
  background-color: #000000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}



#link { color: white; }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
